.red {
    background-color: #f19898;
}
.orange {
    background-color: #eeca95;
}
.green {
    background-color: #81ff81;
}
.indent-left {
    margin-left: 15px;
}
.dark-orange {
    background-color: #dcb163;
}
.left-div-style {
    width: 49.5%;
    position: absolute;
    top: 30px;
    height: 95%;
    overflow-y: scroll;
}
.right-div-style {
    width: 49.5%;
    position: absolute;
    left: 50.5%;
    top: 30px;
    height: 95%;
    overflow-y: scroll;
}

.left-div-style2 {
    width: 50%;
    position: absolute;
}
.right-div-style2 {
    width: 50%;
    position: absolute;
    left: 50%;
}
