.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}
.indent-left {
    margin-left: 15px;
}
.dark-orange {
    background-color: #531818;
}
