.red {
    background-color: #f19898;
}
.orange {
    background-color: #f1d1ad;
}
.green {
    background-color: #81ff81;
}
.indent-left {
    margin-left: 15px;
}
.dark-orange {
    background-color: #dcb163;
}
