<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Json не валидны</title>
    <link rel="stylesheet" type="text/css" href="/static/style/style.css" th:href="@{/style/style.css}"/>
</head>

<body>
<a href="/main"> main</a>

<div th:class="left-div-style2">
    <p th:if="${!m1.isEmpty()}"><span th:text="${file1}"></span> не валидный </p>
    <p th:if="${m1.isEmpty()}"><span th:text="${file1}"></span> валидный </p>
    <hr>
    <th:block th:each="vm : ${m1}">
        <p th:text="${vm.getMessage()}"></p>
    </th:block>
</div>

<div th:class="right-div-style2">
    <p th:if="${!m2.isEmpty()}"><span th:text="${file2}"></span> не валидный </p>
    <p th:if="${m2.isEmpty()}"><span th:text="${file2}"></span> валидный </p>
    <hr>
    <th:block th:each="vm : ${m2}">
        <p th:text="${vm.getMessage()}"></p>
    </th:block>
</div>

</body>
</html>