<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<th:block th:unless="${m1.isEmpty()}">
    <p th:text="${file1}"> не валидный</p>
    <th:block th:each="vm : ${m1}">
        <p th:text="${vm.getMessage()}"></p>
    </th:block>
</th:block>

<th:block th:unless="${m2.isEmpty()}">
    <p th:text="${file2}"> не валидный</p>
    <th:block th:each="vm : ${m2}">
        <p th:text="${vm.getMessage()}"></p>
    </th:block>
</th:block>


</body>
</html>