<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form id="upload" action="#" method="post" enctype="multipart/form-data">
    <input type="file" name="file1"/>
    <input type="file" name="file2"/>
    <p><input type="submit" value="Загрузить файлы"/></p>
</form>

<p th:text="${file1NotJson}"></p>
<p th:text="${file2NotJson}"></p>
<p th:text="${file1size}"></p>
<p th:text="${file2size}"></p>


</body>
</html>